@font-face {
    font-family: "SF-Pro-Display";
    font-weight: thin;
    src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
  }
  
  @font-face {
    font-family: "SF-Pro-Display";
    font-weight: medium;
    src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
  }
  
  @font-face {
    font-family: "SF-Pro-Display";
    font-weight: regular;
    src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
  }
  
  @font-face {
    font-family: "SF-Pro-Display";
    font-weight: bold;
    src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
  }
/*variables*/
:root {
   --dark-blue: #0e49a2;
   --dark-lighter-blue: #0b53c8;
   --lighter-blue: #0b61ee;
   --light-blue: #1e64e7;
   --secondary: #eff3fa;
   --white: #fff;
   --black: #000;
   --text-color: #2e3a59;
   --border: #a5c5fe;
   --cta-color: #d2e2ff;
 }
 *{
   box-sizing: border-box;
   margin: 0;
   padding:0 ;
 }
 

body {
   font-family: "SF-Pro-Display", sans-serif;
   font-weight:bold;
   width: 100vw;
   padding: 0;
   margin:5px;
   color: var(--text-color);
   margin: 0;
   padding: 0;
   overflow-x: hidden;
 }
 /* header */
 .logo{
   height: 3.5em;
   width:3.5em ;
   z-index:9999 ;

 }
 .mobile-nav-toggle{
   position: absolute;
   margin-left: 75vw;
   margin-top: 1.5em;
   }
   h3{
     position: fixed;
     font-family: "SF-Pro-Display";
     font-weight: bold;
     letter-spacing: .1em;
     margin-left:31vw;
     margin-top:1em ;
     padding: 0;
     text-align: center;
     color: white;
   }

 ul{
   list-style: none;
 }
 i{
   margin-right:.3em;
 }
 a{
   font-size:1.3em;
 }
 p{
   font-size: 1em;
   margin: 0;
 }
 header{
   position:fixed ;
   width: 100vw;
   height: 4em;
   margin-top: 0;
   background-color: var(--dark-blue);
 }

 .nav-baar{
   position:fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color:var(--secondary);
   width:10em ;
   height: 35vh;
   margin-left: 60vw;
   margin-top:0em ;
   font-weight: bold;
   opacity: 0;
   transition: 1s ease-out;
   

 }
 nav>ul.show{
   opacity: 1;
 }
 
 .nav-baar>li{
   margin:10px;
   color: var(--black);
   transition: .5s ease;
 }
 .nav-baar>li:hover{
   transform:translateY(-10px)scale(1.1);
   color:rgb(161, 158, 158);
   cursor: pointer;
 }
 .nav-baar>li:active{
   color: red;
}
.nav-baar>li:nth-child(3){
  color:red;
}
/* form */
form{
  padding-top:4em;
  display: grid;
  place-items: center;
  padding-bottom: 2em;
  background-color: var(--secondary);
}
h1{
  padding: 2em;
  color: #0b53c8;
}

fieldset{
  background-color:var(--cta-color);
  color: var(--black);
  box-shadow: 2px 2px 2px rgb(1, 1, 5);
 
}


legend{
  text-align: center;
  font-size: 1.5em;
  padding: .5em;
}
.gegevens{
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 50vw;
  height: 30vh;
 
 
}
.gegevens>input,label{
  
   margin-left:1.5em; 
}
 .gegevens input{
  width: 40vw;
  
}

.details{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70vw;
  height: 100vh;
}
#symptomen, option{
  width:20vw;
}

section p{
margin-left: 1.7em;
margin-bottom: 1em;
}

.submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  
}
input, textarea,select{
  outline: none;
  border: 1px solid var(--text-color);
}
input:focus, textarea:focus, select:focus{
  box-shadow: 1px 0 .3em rgb(9, 31, 231);
  border: 1px solid var(--text-color);
}
textarea{
  margin:0 .5em;
  width: 90vw;

}

 /* footer */
 footer h2{
    font-family:"SF-pro_Disply";
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    letter-spacing:.2em ;
    margin:0;
    padding: 0;
    color:var(--black);
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: var(--light-blue);
  }

  footer ul{
    background: var(--light-blue);
    display: flex;
    flex-direction:row;
    justify-items: center;
    align-items: center;

  }

  footer ul>li{
    padding: .7em .7em;
    border-radius: 50%;
    margin: .3em;
    background-color:var(--white);
    transition: .2s ease-in;
  }

  footer ul>li:hover{
    transform:translateY(10px) scale(1.1);
    background:var(--light-blue);
  }

  footer ul>li>a>i:hover{
    color: var(--white);
    background-color: var(--dark-lighter-blue);
  }

.logo-un{
  width: 10em;
  height: 8em;
  background:var(--lighter-blue);
  border-radius: 50%;
}
.copyright{
  font-size: 1.3em;
  font-family: "SF-pro_Disply";
  font-weight: bold;
  color: #000;
  text-align: center;

}
/* Ipad */
@media (min-width:40em){

    h3{
      margin-left: 40vw;
    }
    .mobile-nav-toggle{
      margin-left: 87vw;
      margin-top: 1em;
  
    }
    .nav-baar{
      margin-left: 78.5vw;
    }
}  
@media (min-width: 65em) {
    h3{
      margin-left: 45vw;
      margin-top: .7em;
      font-size: 1.5em;
    }

    .mobile-nav-toggle{
      display: none;
    }
    .nav-baar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: none;
      margin-left: 70vw;
      margin-top:-4em;
      padding: 0;
      width: 0;
      height: 0;
      opacity: 1;
    }
    .nav-baar>li{
      color: var(--white);
    }
    .nav-baar>li>a>i{
      color: var(--white);

    }
    textarea{
      margin:0 1.8em;
      width: 50vw;
    }
   
}
   