@font-face {
  font-family: "SF-Pro-Display";
  font-weight: thin;
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: medium;
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: regular;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: bold;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}
/*variables*/
:root {
      --dark-blue: #0e49a2;
    --dark-lighter-blue: #0b53c8;
    --lighter-blue: #0b61ee;
    --light-blue: #1e64e7;
    --secondary: #eff3fa;
    --white: #fff;
    --black: #000;
    --text-color: #2e3a59;
    --border: #a5c5fe;
    --cta-color: #d2e2ff;
  }
  *{
    box-sizing: border-box;
    scroll-behavior: smooth;
     }
  

body {
    font-family: "SF-Pro-Display", sans-serif;
    font-weight: regular;
    padding: 0;
    margin:5px;
    color: var(--text-color);
    width: 414px;
  }
  .logo{
    height: 3em;
    width:3em ;
    z-index:9999 ;

  }
  .mobile-nav-toggle{
    position: absolute;
    margin-left: 90vw;
    margin-top: 1em;
    }

  ul{
    list-style: none;
  }
  i{
    margin-right:.3em;
  }
  a{
    font-size:1.3em;
  }
  p{
    font-size: 1em;
  }
  .nav-baar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--secondary);
    width:10em ;
    height: 35vh;
    margin-left: 82vw;
    margin-top:0em ;
    font-weight: bold;
    opacity: 0;
    transition: 1s ease-out;

  }
  nav>ul.show{
    opacity: 1;
  }
  
  .nav-baar>li{
    margin:10px;
    color: var(--black);
    transition: .5s ease;
  }
  .nav-baar>li:hover{
    transform:translateY(-10px)scale(1.1);
    color:rgb(161, 158, 158);
    cursor: pointer;
  }
  .nav-baar>li:active{
    color: red;
  }

  
  
  .pages{
    width: 20em;
    height: 18em;
    border: .1em solid var(--black);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow:scroll;

  }
  .pages>ul>li{
    
    width: 10em; 
    height: 3em;
    border: .1em solid var(--black);
    margin: 2em;
    background-color: var(--cta-color);
  
    
    
    

  }

  



  