@font-face {
  font-family: "SF-Pro-Display";
  font-weight: thin;
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: medium;
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: regular;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: bold;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}
/*variables*/
:root {
      --dark-blue: #0e49a2;
    --dark-lighter-blue: #0b53c8;
    --lighter-blue: #0b61ee;
    --light-blue: #1e64e7;
    --secondary: #eff3fa;
    --white: #fff;
    --black: #000;
    --text-color: #2e3a59;
    --border: #a5c5fe;
    --cta-color: #d2e2ff;
  }
  *{
    box-sizing: border-box;
    scroll-behavior: smooth;
     }
  

body {
    font-family: "SF-Pro-Display", sans-serif;
    font-weight:bold;
    width: 100vw;
    padding: 0;
    margin:5px;
    color: var(--text-color);
  }
  /* header */
  .logo{
    height: 3.5em;
    width:3.5em ;
    z-index:9999 ;

  }
  .mobile-nav-toggle{
    position: absolute;
    margin-left: 78vw;
    margin-top: 2em;
    }

  ul{
    list-style: none;
  }
  i{
    margin-right:.3em;
  }
  a{
    font-size:1.3em;
  }
  p{
    font-size: 1,3em;
    margin: 0;
  }
  header{
    width:100vw ;
    height: 4em;
    margin-top: 0;
    background-color: var(--dark-blue);
  }

  .nav-baar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--secondary);
    width:10em ;
    height: 35vh;
    margin-left: 60vw;
    margin-top:0em ;
    font-weight: bold;
    opacity: 0;
    transition: 1s ease-out;

  }
  nav>ul.show{
    opacity: 1;
  }
  
  .nav-baar>li{
    margin:10px;
    color: var(--black);
    transition: .5s ease;
  }
  .nav-baar>li:hover{
    transform:translateY(-10px)scale(1.1);
    color:rgb(161, 158, 158);
    cursor: pointer;
  }
  .nav-baar>li:active{
    color: red;
  }
  /* main */
  h1{
    margin: 0;
    text-align: center;
  }
  h1>span{
    color: var(--light-blue);
  }
  main{
    width: 100vw;
    margin-top:0;
    z-index:-10 ;
  }
  
  main>section{
    background-color:var(--secondary);
  }

  .text>p{
    padding: 1.3em;
    text-align: center;
    font-weight: bold;
  }
  /* button */
  .bekijkapp{
    background-color:var(--light-blue);
    color: white;
    padding: .5em .5em;
    border-radius:1em ;
    margin-left: 37vw;
    margin-top:1em ;
    text-decoration: none;
    text-align: center;
    transition: .5s ease;
  }

  .bekijkapp:hover{
    transform:translateY(10px)scale(1.1);
    background: var(--dark-blue);
    cursor: pointer;
  }
/* scrol menu */

.pages{
  background:var(--cta-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

}

.box{
    background-color:var(--light-blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17em; 
    height: 8em;
    margin: 7em;
    border: .1em solid var(--black);
    border-radius: .5em;
    box-shadow:2px 4px 5px var(--black) ;
    transform:translateX(500%);
    transition: transform .5s ease;
  }

 .box:nth-of-type(even){
    transform:translateX(-500%);
  }

 .box.shows{
    transform: translateX(0);

  }

  
  



  